<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.example.app_2.App_2"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:windowSoftInputMode="stateHidden" >
        <activity
            android:name="com.example.app_2.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.app_2.activities.ImageGridActivity"
            android:label="ImageGridActivity"
            android:parentActivityName="com.example.app_2.activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.examples.app_2.activities.MainActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.example.app_2.activities.ImageEditActivity"
            android:label="ImageEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_2.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.app_2.activities.ImageDetailsActivity"
            android:label="ImageEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_2.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.app_2.activities.NewImgTemplateActivity"
            android:label="AddNewImageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_2.activities.ImageEditActivity" />
        </activity>
        <activity
            android:name="com.example.app_2.activities.AddImagesFromFolderActivity"
            android:label="AddImagesFromFolderActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_2.activities.ImageEditActivity" />
        </activity>
        <activity
            android:name="com.example.app_2.activities.ParentMultiselectActivity"
            android:label="ParentMultiselectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_2.activities.ImageEditActivity" />
        </activity>
        <activity
            android:name="com.example.app_2.activities.AddUserActivity"
            android:label="AddUserActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_2.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.app_2.activities.UsersActivity"
            android:label="UsersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_2.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.app_2.activities.SettingsActivity"
            android:label="SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_2.activities.ImageGridActivity" />
        </activity>
        <activity
            android:name="com.example.app_2.activities.BindImagesToCategoryActivity"
            android:label="BindImagesToCategory" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_2.activities.ImageGridActivity" />
        </activity>
        <activity
            android:name="com.example.app_2.activities.UserLoginActivity"
            android:label="UserLoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_2.activities.MainActivity" />
        </activity>

        <provider
            android:name="com.example.app_2.contentprovider.ImageContentProvider"
            android:authorities="com.example.app_2.contentprovider" >
        </provider>
        <provider
            android:name="com.example.app_2.contentprovider.ParentContentProvider"
            android:authorities="com.example.app_2.contentprovider.parent" >
        </provider>
        <provider
            android:name="com.example.app_2.contentprovider.ImagesOfParentContentProvider"
            android:authorities="com.example.app_2.contentprovider.imagesofparent" >
        </provider>
        <provider
            android:name="com.example.app_2.contentprovider.ParentsOfImageContentProvider"
            android:authorities="com.example.app_2.contentprovider.parentsofimage" >
        </provider>
        <provider
            android:name="com.example.app_2.contentprovider.UserContentProvider"
            android:authorities="com.example.app_2.contentprovider.user" >
        </provider>

        <service
            android:name="com.example.app_2.services.ImageAddingService"
            android:icon="@drawable/ic_launcher"
            android:label="service_name" >
        </service>
    </application>

</manifest>